<div class="input-container">
    <label class="label" for="{{label}}">{{labelValue}}</label>
    <input class="input {{class}}" type="{{type}}" id="{{label}}" name="{{label}}" required><br><br>
</div>
